@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500&display=swap');

:root {
	--bg-color-light: #EAEAEB;
	--bg-color-dark: #0D0D13;
	--text-color-light:#C8C8D0;
	--text-color-dark:#4C4C53;
	--text-muted:#404048;
}

*{
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
	
}

body{
	background-color: var(--bg-color-dark);
	color: var(--text-color-light);
}

.nav
{
	display: flex;
	gap: 20px;
	height: 10vh;
	justify-content: end;
	padding-right: 10px;
}

.nav span
{
	padding-top: 10px;
	color: var(--text-muted);
}

.nav span:hover
{
	color: var(--text-color-light);
}




 input {
	background: transparent;
	border: 1px solid var(--text-muted);
	border: none;
	padding: 10px;
	padding-left: 15px;
	border-radius: 20px;
	outline: none;
	color: var(--text-color-light);
	font-size: 1.1rem;
	
}
 button {
	background: transparent;
	border: 1px solid var(--text-muted);
	border-radius: 50%;
	padding: 10px;
	width: 50px;
	aspect-ratio: 1;
	border: none;
	outline: none;
	color: var(--text-muted);
	font-size: 1.1rem;
	
}
 button:hover {
	color:var(--text-color-light);
	transition: all .5s;
}



